[submodule "drooghulp"]
	path = drooghulp
	url = https://github.com/JutteDeBaets/drooghulp
[submodule "drooghulp-code"]
	path = drooghulp-code
	url = https://github.com/JutteDeBaets/drooghulp-code.git
